@import "jquery.flexdatalist.css";
*{
    
    margin: 0;
    padding: 0;
    
}
.form-control{
    border: 1px solid #ffc097;
    color: #ffc097;
}
.navbar-expand-lg{
    justify-content: space-between;
}
.aFlex{
    display: flex;
}
.sombraCard{
    box-shadow: 0px 0px 20px rgb(206, 206, 206);
    /* background-color: #010340;
    color: white; */
}
.border_bottom{
    border-bottom:1px solid #ced4da;
}
.scrollbar{

}
body::-webkit-scrollbar {
    width: 8px; 
                 /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(201, 201, 201);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
      width: 6px;

    background-color: rgb(136, 136, 136);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }
a{
    color: black;
    text-decoration: none;
}
#LoginRegister{
    width: 100vw;
    height: fit-content;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
header{
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    min-height: 50px;
    /* border-bottom: 1px solid rgb(207, 207, 207); */
}
footer{
    width: 100%;
    color: rgb(0, 0, 0);
    bottom:0;
    position: relative;    
}

.mainContent{
    display: flex;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.msg{
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    background-color: rgb(170, 206, 170);
    color: green;
    text-align: center;
}
#msg{
    
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    background-color: rgb(170, 206, 170);
    color: green;
    text-align: center;
}
.profileArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #f4845f;
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    background-position: center;
}
.profilePicture{
    width: 40px;
    height: 40px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;

    
    padding: 2px;
}
.imgContainer img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.editForm{
    width: 60%;
    padding: 10px;
}
.flexcenter{
    flex-direction: column;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
#container_de_users{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
}
#card_user{
    max-width: 19%;
    height: fit-content;
    margin:3px;
    max-height: 400px;
}

.imageContainer{
    display: flex;
    border-top-right-radius:3px ;
    border-top-left-radius:3px ;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    
}
.imageContainer:hover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160%;
    
}
#profileTop{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425);
    border-top: 1px solid rgba(207, 207, 207, 0);
    box-shadow: 0px 10px 10px rgba(143, 143, 143, 0);
    z-index: 10;
}
#imgProfileContainer{
    width: 200px;
    height: 200px;
    background-size: 110%;
    background-position: center;
    
}
.imgProfileBox{
    width: 200px;
    height: 200px;
    background-size: 110%;
    background-position: center;
    
}
#profileInfoBasic{
    margin-top: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    
    
}
#profileInfoBasic a{
    text-decoration: none;
    color: black;
}
#criarPub{
    text-decoration: none;
    color: black;
}
#iconeCriaPub {
    transition: 50ms;
    width: 60px;
    height: 60px;
}
#iconeCriaPub:hover {
    transform: scale(1.3);
}
.liHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.notificationsBox{
    display:block;
    position: absolute;
    right: 80px;
    top: 60px;
    width: 300px;
    height: 500px;
    padding: 0;
    overflow-y: scroll;
    visibility: collapse;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 10px 20px 20px rgba(41, 41, 41, 0.575);
    z-index: 20;
    background-color: white;
    border-radius: 5px;
    transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(0.1);
}
.flexContainerNot{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    
    justify-content: flex-start;
    align-items: center;   
    
}
.flexContainerNot ul{
    list-style: none;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20px;
    
}
#listaNot a{
    width: 100%;
    text-decoration: none;
}
.flexContainerNot li{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid rgb(196, 196, 196);
    transition: 300ms;
}
.flexContainerNot li:hover{
    background-color: rgb(196, 196, 196);
}
.linkNot{
    text-decoration: none;
    display: flex;
}

.linkUserProfilePicture{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-right: 10px;
    background-size: 100%;
    background-position: center;
}
.linkUser{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    color: rgb(97, 96, 96);
}
.linkUserName{
    color: inherit;
    color: rgb(97, 96, 96);
    margin-right: 10px;
}
.linkUserName:hover{
    
    color: rgb(0, 0, 0);
}
.linkUser:hover{
    
    color: rgb(0, 0, 0);
}
.indexBox{
    justify-self: flex-start;
}
.pubInput{
    max-width: 100%;
}
.form-group{
    margin-top:20px
}
#pubContainerMain{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#cardImagePreview{
    width: 0%;
    height: 00px;
    border-radius: 8px;
    border: 0px solid solid #e7e7e7;
    box-shadow: none;
    transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#pubContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
}
#pubLogoContainer{
    background-color: white;
}
#pubLogo{
    
    transform: translateX(-600%);
    width: 150px;
    height: 150px;
    border-radius: 80px;
    background-color: #f4845f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.267);
    animation: logoPubs 900ms 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275)  forwards;
}
@keyframes logoPubs {
    to{
        transform: translateY(-70px);
    }
}
#pubLogoIcon{
    width: 80px;
    height: 80px;
    color: white;
}
.cardPub{
    border:none;
    box-shadow: 0px 0px 30px rgba(145, 145, 145, 0.692);
    width: 40%;
    height: 600px;
    margin-bottom: 100px;
}
.pubImage{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    
}
.LinkToPub{
    width: 100%;
    height: 60%;
    display: flex;
}
.pubUserPic{
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
}
.pubUserInfo{
    padding: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    justify-content: flex-start;
    width: 100%;
}
.pubUserInfoUserName{
    color: rgb(0, 0, 0);
}
.pubUserInfoUserName a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.pubUserInfoUserName a:hover{
    color: rgb(0, 0, 0);
    
}
.likeShareDateBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 15px;
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: #f4845f;
    
}
.icone{
    width:25px;height:25px;
    transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.iconeCurtido{
    color : rgb(165, 0, 0);
    transform: scale(1.3);
}
.iconeDescurtido{
    color: white;
}
.icone:hover{
    transform: scale(.8);
}

.descriptionPub{
    transition: 100ms ;
    height: 0px;
}
.hidden{
    color: transparent;
}
.commentsSection{
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(201, 201, 201);
}
.inputComments{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.botao{
    border-radius: 0px 0px 4px 0px;
}
.comments{
    

}
.botaoDescrição{
    color: rgb(123, 123, 238);
}
.ulComents{
    width: 100%;
    height: 0px;
    border-top: 1px solid rgb(201, 201, 201);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    margin:0 ;
    /*transition: 10ms cubic-bezier(0.1, 0.03, 0.015, 0.955);
    */
}
.ulComents::-webkit-scrollbar{
    width: 8px; 
}
.ulComents::-webkit-scrollbar-track{
    background: rgb(201, 201, 201); 
}
.ulComents::-webkit-scrollbar-thumb{
    width: 6px;
    background-color: rgb(136, 136, 136);    /* color of the scroll thumb */
    border-radius: 20px;  
}
.coment{
    list-style-type: none;
    display: none;
    width: 100%;
    justify-content: flex-start;
    
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(223, 223, 223);
   
    
}
.likeShareDateBox a:hover{
    color: rgb(165, 0, 0); 
}
.comentUserPic{
    width: 35px;
    height: 32px;
    margin: 5px 10px 0px 5px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.countBox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.date{
    margin-bottom: 1rem;
    color: grey;
    font-size: 13px;
    
}
.dateComment{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 13px;
    
}
.comentInfoBox{
    
    width: 100%;
}
.commentLinkDate{
    display: flex;
}
.comentText{
    margin-left: 10px;
}
.comentIcon{
    color: rgb(173, 52, 52);
    margin: auto 0px auto 10px;
    font-size: 12px;
}
.comentIcon:hover{
    color: rgb(173, 52, 52);
    transform: scale(1.1);
}
























#PubCardInfoSection{
    min-width: 350px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(199, 199, 199);
}
.PubCardInfoUserInfo{
    width:100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    padding-right: 15px;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.PubCardInfoUserInfo a:hover{
    color: rgb(49, 49, 49);
}
.PubCardInfoUserInfo a{
    text-decoration: none;
    color: grey;
    margin: 0px 0px 0px 5px;
}
.PubCardInfo{
    width: 100%;
    
    height: 30%;
}
.PubCardInfoComments{
    width: 100%;
    height: 60%;
    

}
.linkUserShowPub{
    /* margin-right: 5px;
    margin-left: 5px;  */
}
#PubCardInfoUserInfoImage{
    width: 35px;
    height: 100%;
    margin-right: 10px;
    
    
}
.PubCardInfoUserInfoBox{
    display:flex;
    justify-content:flex-end; 
    flex-wrap:wrap;
    padding:3px;
}
.PubCardInfo{
    display: flex;
    flex-direction: column;

}
.PubCardInfoDate{
    display: flex;
    justify-content: flex-end;
    
    /* padding: 2px;
    padding-right: 10px; */
}













.card-body{
    padding:5px 1rem 1rem 1rem;
}
.box_bottom_CardPub{
    border-top: 1px solid rgb(206, 206, 206);
}
.nav-link{
    color: #010340;
    
}
.nav-link:hover{
    
    color: #01088d;
    
}
.comentInputPosition{
    align-self: flex-end;
}
.colorBox{
    width: 50px;
    height: 30px;
    border-radius: 3px;
}
.orange{
    background-color: orange;
}
.black{
    background-color: rgb(0, 0, 0);
}
.white{
    background-color: white;
}
.inputColor{
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.input-option356 {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px ;
  }
  
  .input-option356:after {
    content: "";
    clear: both;
  }
  
  .radio {
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    float: left;
    height: 70px;
    position: relative;
    width: 90px;
    border-radius: 2px ;
  }
  
  .radio + .radio {
    margin-left: 25px;
    border-radius: 5px ;

  }
  
  .radio label {
    /*background: #fff no-repeat center center;*/
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;border: 1px solid rgb(223, 223, 223);
    
    
  }
  .colorLabel{
      border-radius: 5px ;
      transition: 100ms;
      
  }
  
  .radio label span {
    border: 1px solid rgb(136, 136, 136);
    z-index: 1;
    transition: 100ms;
  }
  .radio label input[type=radio] {
    border: 1px solid rgb(136, 136, 136);
    transition: 100ms;
    all: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
  }

  
  .radio label input[type=radio]:checked {
    transition: 300ms;
    border-radius: 5px ;
    box-shadow: 0px 0px 20px rgb(59, 59, 59);
  }
  .radio label input[type=radio]:checked + span{
    color: #ffffff;
    transform: rotate(180deg);
  }

  .formColors{
      padding: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column ;
      

  }
  .grupo_de_cores{
      border: 0px   solid rgb(221, 221, 221);
      padding: 30px;
      border-radius: 10px;
  }
  



  .tituloEditUserContainer{
      width: 60%;
      display: flex;
      justify-content: space-around;
  }
  .tituloEditUserContainer a:hover {
    color: rgb(168, 168, 168);
  }
  .tituloEditUserContainer a{
    transition: 100ms;
  }
  .ProfileButtons{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
  }